body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #f2f2f2;
}
.container {
width: 400px;
margin: 50px auto;
background-color: #fff;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
text-align: center;
margin-top: 0;
}
form {
display: flex;
flex-direction: column;
}
label {
margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
padding: 10px;
border: none;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
font-size: 16px;
}
button[type="submit"] {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 20px;
margin-top: 20px;
font-size: 16px;
cursor: pointer;
border-radius: 3px;
}
button[type="submit"]:hover {
background-color: #3e8e41;
}
/*dashboard*/
.content{
	text-align: center;
}

.content a{
	text-decoration: none;
	display: inline-block;
	color: black;
	font-size: 24px;
	border: 2px solid black;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
}

.dashboard-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dashboard-button:hover {
  background-color: #45a049;
}


/*doctor*/

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.doctor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.doctor {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
  color: #333;
}

p {
  color: #777;
  margin-bottom: 10px;
}

.select-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: #45a049;
}
